<template>
  <div>
    <pre>
      {{ text }}
    </pre>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Library } from "./library";
const library = new Library();
export default defineComponent({
  name: "App",
  components: {},
  computed: {
    text: () => {
      return library.getPage("some:4:21:1:20");
    }
  }
});
</script>

<style scoped></style>
